 * {
     margin: 0;
     padding: 0;
     color: #333;
     background-color: whitesmoke;
 }

 a {
     text-decoration: none;
     color: #333;
 }

 ul,
 li {
     list-style: none;
 }


 .rollbutton {
     height: 50px;
     width: fit-content;
     margin: auto;
     /* margin-top: 12%; */
     border-radius: 5px;
 }

 .rollbutton>input {
     width: 150px;
     height: 40px;
     border-radius: 5px;
 }

 .ran {
     margin: 0% 0% 0% 0%;
     width: 100%;
     height: auto;
     /* border: 1px solid black; */
 }

 h3 {
     text-align: center;
     text-decoration: none;
     font-size: 80px;
     font-weight: 500;
 }

 .tit {
     margin-top: 100px;
     font-size: 80px;
     font-weight: 700;
     height: auto;
     width: 100%;
     color: black;
     border-radius: 8px;
     border: none;
 }